---
const { 
  logo,
  title, 
  titleMethodology, 
  phases, 
  } = Astro.props;

import BoxPhase from './BoxPhase.astro';
import PhaseContainer from './PhaseContainer.astro';
---

<section id="phases-container" class="project-phases project-phase__extended">
  <h3 class="project-phases__title">{titleMethodology}</h3>
  <div class="project-phases__box-container">
    {phases.map((phase:any) => (
      <BoxPhase color={phase.color} icon={phase.icon} text={phase.text} />
    ))}
  </div>
  <PhaseContainer
    title="Fase 1: Hipótesis"
    text="Planteamos la hipótesis de que: “Si combinamos la técnica Pomodoro con un cachorro virtual y la posibilidad de donar a perros reales, los usuarios se sentirán más motivados para mantener la concentración y completar sesiones de estudio o trabajo.”"
    text2="Antes de diseñar, definimos hipótesis de producto, negocio y experiencia."
    color="var(--color-blue-light)"
    titleWrapper="Generación de hipótesis">

  </PhaseContainer>

    <PhaseContainer
      title="Fase 2: MVP"
      text="Se desarrolló un Producto Mínimo Viable para probar las hipótesis sin invertir en funcionalidades complejas."
      color="var(--color-blue-light)"
      titleWrapper="Construir un MVP"
      reverse>
  </PhaseContainer>

  <PhaseContainer
    title="Fase 3: Diseño rápido y creación de prototipos"
    text="En esta fase se realizaron prototipos iterativos para validar la experiencia de usuario antes de desarrollar el producto completo con la herramienta Figma."
    color="var(--color-blue-light)"
    titleWrapper="Prototipo"
    >
    </PhaseContainer>
    <PhaseContainer
    title="Fase 4: Testear"
    text="Se realizaron tests de usabilidad y motivación para validar si las hipótesis se cumplían y la experiencia era efectiva con la herramienta Maze."
    color="var(--color-blue-light)"
    titleWrapper="Testing"
    >
  </PhaseContainer>
</section>

<style lang="scss" scoped>

.project-phases {
  // width: 100%;
  display: none;
  margin-inline: 4.5rem;
  opacity: 0;
  transition: opacity .3s ease, display .3s ease allow-discrete; 

  &__title {
    font-size: $font-size-xl;
    font-family: $font-poppins;
    margin-bottom: 5rem;
  }

  &__box-container {
    display: flex;
    gap: 4rem;
    justify-content: center;
    // margin-top: 2rem;
  }

}

.show {
  opacity: 1;
  display: block;
}

</style>
