/* global.scss */
@use "./variables" as *;
@use "./fonts" as *;

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: $font-libre;
  margin: 0;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100%;
  background-color: $color-white;
  color: $color-black;
}

:root {
  --color-red-light: #ffb3b3;
  --color-yellow-light: #ffeebc;
  --color-blue-light: #abc8ff;
  --color-yellow: #fdc51e;
  --color-blue-electric: #1869ff;
}

.color-accent-blue-electric {
  color: $color-blue-electric;
}

.color-accent-red {
  color: $color-red;
}
