---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';

import Hero from '@/components/molecules/Hero.astro';
import Projects from '@/components/molecules/Projects.astro';
import CareerChapters from '@/components/molecules/CareerChapters.astro';
import Tools from '@/components/molecules/Tools.astro';
import AboutMe from '@/components/molecules/AboutMe.astro';
import Footer from '@/components/molecules/Footer.astro';
import GetInTouch from '@/components/molecules/GetInTouch.astro';

---

<div>
		<Hero/>	
		<Projects/>
		<CareerChapters/>
		<Tools/>
		<AboutMe/>
		<GetInTouch/>
		<Footer/>
</div>
