---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';

import Hero from '@/components/molecules/Hero.astro';
import Projects from '@/components/molecules/Projects.astro';
import CareerChapters from '@/components/molecules/CareerChapters.astro';
import Tools from '@/components/molecules/Tools.astro';

---

<div>
		<Hero/>	
		<Projects/>
		<CareerChapters/>
		<Tools/>
</div>
