---
import smile from '@/assets/smile.svg';

---
<section class="about-me">
  <img class="about-me__image" src={smile.src} alt="box" />
  <h2 class="about-me__title">Detrás de los píxeles</h2>

  <div class="about-me__text">
    <p>
      Y, ahora te dejo un pedacito de mi yo real.
      Bienvenidx a mi mundo.
    </p>

    <p>Nací en Madrid, la ciudad que nunca deja de inspirarme con su mezcla de historia, vida urbana y rincones sorprendentes.</p>
    <p>Soy apasionada del fútbol (corro detrás del balón en mi equipo), si hay olas, me verás surfeando️ y si hay una montaña, seguro que estoy explorando.</p>
  </div>

  <div class="about-me__pictures">

  </div>
  <div class="about-me__text">
    <p>Y no estoy sola en estas locuras.</p>
    <p>Esta es mi compañera de vida; Kala. Ella es mi copiloto oficial, mi crítica de diseño silenciosa y la que asegura que nunca pierdo la energía para la siguiente aventura.</p>
  </div>
</section>
<style lang="scss" scoped>
  .about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;

    &__image {
      width: 2.5rem;
    }

    &__title {
      font-size: 1.5rem;
      font-weight: 100;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    &__text {
      font-family: $font-poppins;
      font-weight: 300;
      width: 45%;
      margin-bottom: 10rem;
      text-align: center;
    }
  }
</style>