---
import logo from '../assets/andrea-logo.svg';
---

<header>
  <img src={logo.src} width="115" height="48" alt="Andrea Homepage" />
  <nav>
    <ul>
      <li><a href="#about">About Me</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>

<style lang="scss" scoped>

</style>