---
import Logo from '../../assets/andrea-logo.svg';
import astroConfig from '../../../astro.config.mjs';
const base = astroConfig.base || '/';
---

<header class="header">
  <nav class="header__nav">
    <ul class="header__nav--list">
      <li class="header__nav--list-item"><a href="#projects">proyectos</a></li>
      <a href={base}><Logo class="header__nav--list-item--logo"/></a> 
      <li class="header__nav--list-item"><a href="#about-me">sobre mi</a></li>
    </ul>
  </nav>
</header>

<style lang="scss" scoped>
.header {
  &__nav{
    display: flex;
    justify-content: center;
    padding: 1rem 2rem 0rem 2rem;
    font-family: $font-poppins;
    font-size: $font-size-md;
    font-weight: 200;



    &--list {
      display: flex;
      align-items: center;
      list-style: none;
      display: flex;
      text-decoration: none;

      &-item {
        margin-right: auto;
        font-size: 1.125rem;

        a {
          text-decoration: none;
          color: $color-red;

          &:hover {
            color: #4e5056;
          }
        } 

        &--logo {
          width: 6rem;
          margin: 0 4rem;
        }
      }
    }
  }

  /* Tablets */
  @media (max-width: 1024px) {
    &__nav--list-item {
      font-size: $font-size-base;
    }

    /* Móviles */
    @media (max-width: 640px) {
      &__nav{
        padding: 1rem 0 0 0;

        &--list-item {
          font-size: $font-size-sm;

          &--logo {
            margin: 0 2rem;
          } 
        }
      } 
    }
  }
}
</style>