---
import logo from '../../assets/andrea-logo.svg';
---

<header class="header">
  <nav class="header__nav">
    <ul class="header__nav--list">
      <li class="header__nav--list-item"><a href="#projects">proyectos</a></li>
      <img src={logo.src} width="115" height="48" alt="Andrea Homepage" />
      <li class="header__nav--list-item"><a href="#contact">sobre mi</a></li>
    </ul>
  </nav>
</header>

<style lang="scss" scoped>
.header {
  &__nav{
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
    font-family: $font-poppins;
    font-size: $font-size-md;
    font-weight: 200;



    &--list {
      display: flex;
      align-items: center;
      list-style: none;
      display: flex;
      text-decoration: none;

      &-item {
        margin-right: auto;
        font-size: 1.125rem;

        a {
          text-decoration: none;
          color: $color-red;

          &:hover {
            color: #4e5056;
          }
        } 
      }
    }
  }

}
</style>