---
import rainbow from '@/assets/rainbow.svg';

---

<div class="hero">

  <div class="hero__header">
    <img class="hero__image" id="" src={rainbow.src} alt="rainbow" />
    <h2 class="hero__title">Hola, soy Andrea</h2>
	</div>
	<section class="hero__info">
    <h3 class="hero__subtitle">
      Diseñadora <span>UX UI</span><br />
      y de productos digitales
    </h3>		
    <p class="hero__text">La simplicidad es mi superpoder. Convierto ideas complejas en experiencias que los usuarios disfrutan, haciendo que cada interacción se sienta natural y sencilla</p>
		<div class="hero__line"></div>
		<button class="hero__button">Hablemos</button>
	</section>
</div>


<style lang="scss" scoped>
.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    //width: clamp(4rem, 10vw, 8rem); // 🌈 tamaño adaptable
    height: auto;
  }


  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-family: $font-poppins;
    font-size: $font-size-md;
    font-weight: 100;
    margin: 0;
    margin-top: 1.5rem;
  }

  &__subtitle {
    
    font-size: $font-size-2xl;
    font-weight: 400;
    margin-bottom: 1.5rem;
  }

  &__text {
    font-size: $font-size-base;
    font-family: $font-poppins;
    font-weight: 200;
    line-height: 1.5rem;


  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    text-align: center;
  }

  &__button {
    padding: 0.5rem 1rem;
    border-radius: 500px;
    border: none;
    background-color: $color-black;
    color: $color-white;
    font-family: $font-poppins;
    font-size: $font-size-md;
  }

  &__line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed $color-red;
    margin: 1.5rem 0;
  }
}

</style>

