---
import rainbow from '@/assets/rainbow.svg';

---

<div class="hero">
  <div class="hero__header">
    <div class="hero__image rainbow">
      <svg width="62" height="29" viewBox="0 0 62 29" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path class="line" d="M13.4049 23.9714C13.4378 23.5116 13.8916 22.7739 14.1579 22.4006C14.1627 22.3936 14.1675 22.3865 14.1723 22.3795C14.2355 22.2888 14.2914 22.2002 14.3582 22.0963C14.5154 21.8572 14.7272 21.5194 15.294 20.9217C15.432 20.7313 15.5756 20.5443 15.727 20.3589C17.3446 18.3702 19.5186 16.8824 21.8231 15.9528C21.8511 15.9385 21.8796 15.9239 21.9085 15.9093C22.465 15.6244 23.1765 15.3157 23.6458 15.2089C24.2568 15.066 24.6553 15.0167 25.0025 14.9756C26.8939 14.56 28.7882 14.3975 30.669 14.3493C31.1792 14.3364 31.6671 14.3322 32.1836 14.334C32.2693 14.3343 32.3545 14.3348 32.4394 14.3355C32.9886 14.3401 33.5129 14.3529 34.0653 14.3783C34.3852 14.3647 34.6738 14.3478 34.9669 14.3386C35.3709 14.325 35.7155 14.3205 36.0098 14.3456C36.7197 14.4046 37.5021 14.611 38.0628 14.7871C38.1559 14.8159 38.2468 14.8445 38.3286 14.8706C38.7975 14.9643 39.2557 15.07 39.7207 15.1958C39.747 15.2179 39.7732 15.2406 39.7996 15.2638C40.1241 15.5534 40.5976 15.7113 41.323 16.0217C41.6351 16.1564 41.9993 16.324 42.4067 16.5519C42.6647 16.6968 42.7732 16.8377 42.8538 16.9477C42.8779 16.9804 42.9003 17.011 42.9243 17.0393C43.0067 17.1363 43.1375 17.1609 43.292 17.1926C43.4959 17.2359 43.7454 17.2944 43.9569 17.5317C44.6301 18.2957 45.0425 18.4555 45.3771 18.5776C45.4751 18.6152 45.5641 18.6508 45.644 18.699C45.9035 18.8544 46.166 19.1939 46.324 19.4803C46.4481 19.7023 46.8316 20.0363 47.1325 20.2844C47.248 20.3792 47.3706 20.5341 47.5075 20.7179C47.6512 20.9107 47.8122 21.1378 48.0023 21.3653C48.4858 21.9504 48.7082 22.2902 48.8885 22.5604C48.9399 22.6388 48.9868 22.7121 49.0331 22.7852C49.1786 23.0137 49.345 23.3165 49.4975 23.6211C49.6839 23.993 49.8527 24.3746 49.989 24.6677C50.2082 25.4695 50.3507 26.2903 50.4162 27.1203C50.4506 27.55 50.3365 27.9813 50.1049 28.2826C49.8739 28.5989 49.5517 28.7482 49.222 28.748C48.8912 28.7466 48.5749 28.6052 48.3195 28.3631C48.0649 28.1307 47.8908 27.8208 47.8167 27.4848C47.6692 26.8119 47.4555 26.1487 47.1978 25.5089C46.8837 24.7292 46.503 23.9808 46.0791 23.2647C45.7829 22.7644 45.4565 22.2822 45.0973 21.8194C45.0605 21.772 45.0241 21.7255 44.9868 21.6787C44.609 21.3547 44.2168 21.0596 43.9534 20.8476C43.7353 20.6712 43.6079 20.503 43.4989 20.3619C43.423 20.2642 43.3534 20.1779 43.2649 20.1118C43.2169 20.076 43.1515 20.0307 43.0719 19.9773C42.7463 19.7554 42.1706 19.4055 41.6791 19.0349C41.4555 18.8657 41.2122 18.6568 40.9605 18.4598C40.6045 18.1792 40.2523 17.9355 40.0438 17.8812C39.6895 17.7892 39.2916 17.6029 38.9479 17.4559C38.6129 17.3125 38.3113 17.1981 38.125 17.2054C37.9015 17.214 37.7244 17.1415 37.467 17.0417C37.2904 16.9733 37.0704 16.8906 36.7536 16.8167C36.3904 16.7325 36.1472 16.6479 35.9276 16.5755C35.6161 16.4743 35.3931 16.4036 35.0308 16.4408C34.6239 16.4821 34.2178 16.504 33.8956 16.4575C33.7487 16.4362 33.5778 16.43 33.3978 16.4254C33.1686 16.4197 32.9271 16.4168 32.7022 16.3824C32.5171 16.354 32.3621 16.2888 32.223 16.2319C32.2097 16.2265 32.1966 16.2211 32.1836 16.2159C32.1542 16.204 32.1256 16.1928 32.0976 16.1825C31.9464 16.1838 31.7965 16.1866 31.6478 16.1912C31.6239 16.2019 31.5989 16.2138 31.5728 16.2262C31.442 16.2881 31.2832 16.3649 31.0886 16.4085C30.777 16.4778 30.4915 16.4578 30.201 16.4403C29.9752 16.4268 29.7375 16.4154 29.4647 16.4539C29.2802 16.48 29.0747 16.5294 28.875 16.5807C28.5765 16.6569 28.2738 16.7406 28.0652 16.7503C27.9863 16.7539 27.9135 16.7253 27.8411 16.6971C27.8408 16.6969 27.8405 16.6968 27.8402 16.6966C27.8352 16.6946 27.8303 16.6928 27.8254 16.6909C27.3166 16.8103 26.8355 16.9456 26.3385 17.1065C26.298 17.1273 26.2572 17.1481 26.217 17.1689C26.0195 17.2703 25.8387 17.3703 25.7225 17.4744C25.5984 17.5864 25.2626 17.7307 24.9143 17.8983C24.683 18.0088 24.4519 18.1269 24.2743 18.2403C24.1684 18.3072 24.043 18.3131 23.9155 18.3199C23.7963 18.3262 23.674 18.334 23.5638 18.3938C23.5082 18.4239 23.4559 18.4662 23.3957 18.5139C23.3435 18.5556 23.2889 18.5998 23.2293 18.6396C23.1739 18.6766 23.0321 18.719 22.8535 18.7769C22.7442 18.8121 22.6167 18.8554 22.486 18.9068C22.1756 19.1027 21.8743 19.3073 21.5809 19.5209C21.537 19.5919 21.5083 19.6667 21.4991 19.7452C21.4928 19.8012 21.4944 19.8625 21.497 19.9245C21.5005 20.009 21.5047 20.0961 21.4875 20.1798C21.474 20.2453 21.4386 20.2922 21.3967 20.2977C21.3772 20.3003 21.3565 20.294 21.3376 20.2884C21.3161 20.282 21.2969 20.2764 21.2846 20.2855C21.2759 20.2921 21.2737 20.3089 21.271 20.3294C21.2666 20.362 21.261 20.4041 21.2259 20.4306C21.0976 20.5277 20.9365 20.6353 20.7869 20.7397C20.6204 20.8556 20.4589 20.9746 20.3433 21.0852C20.214 21.2086 19.9959 21.339 19.7769 21.4825C19.6247 21.5818 19.4777 21.6817 19.3586 21.7844C19.2432 21.8837 19.1538 22.0153 19.0712 22.1426C18.97 22.2977 18.8768 22.4484 18.7509 22.5344C18.7254 22.5519 18.6632 22.5478 18.5851 22.5435C18.5299 22.5402 18.4656 22.5382 18.4011 22.5431C18.278 22.6938 18.1588 22.8431 18.0409 22.9945C18.0423 23.0041 18.0436 23.0139 18.045 23.0238C18.0451 23.024 18.0452 23.0242 18.0452 23.0243C18.0768 23.2498 18.134 23.5415 17.8602 23.7164C17.7903 23.7614 17.7129 23.768 17.643 23.7744C17.5744 23.7808 17.5129 23.7869 17.4743 23.8287C17.4302 23.8766 17.4196 23.9561 17.4067 24.0464C17.3891 24.1723 17.3729 24.3104 17.2638 24.3946C17.2563 24.4004 17.2482 24.4065 17.24 24.413C17.1622 24.4735 17.045 24.5694 16.881 24.6395C16.662 24.9862 16.4504 25.3489 16.255 25.7175C15.9295 26.3313 15.6426 26.9717 15.4179 27.628C15.307 27.9513 15.1035 28.2377 14.8301 28.4426C14.5551 28.6568 14.2326 28.7659 13.9093 28.7373C13.5871 28.7076 13.2856 28.5333 13.0838 28.2044C12.8805 27.8895 12.7991 27.4617 12.8591 27.0422C12.9555 26.3652 13.099 25.7043 13.29 25.0511C13.2962 25.0155 13.303 24.9799 13.3101 24.9444C13.3652 24.6769 13.3726 24.4223 13.3908 24.1551C13.3949 24.0942 13.3998 24.0319 13.4049 23.9714Z" fill="#FD1E1F"/>
        <path class="line" d="M6.85695 22.3558C6.92599 21.7426 7.45383 20.7225 7.77802 20.177C7.78372 20.167 7.78943 20.1571 7.79515 20.1472C7.86994 20.0192 7.93684 19.8955 8.01698 19.7505C8.21179 19.4046 8.46559 18.9326 9.14702 18.0523C9.31934 17.7789 9.49961 17.5083 9.68433 17.2461C11.6892 14.3863 14.4595 12.0644 17.5464 10.5248C17.5837 10.503 17.6218 10.4809 17.6603 10.4587C18.4088 10.0221 19.3736 9.54653 20.0144 9.34295C20.8275 9.08126 21.3947 8.95444 21.858 8.85895C24.4746 8.11565 27.1079 7.78739 29.7533 7.68277C30.4574 7.65543 31.1263 7.64477 31.838 7.6466C31.9734 7.647 32.1082 7.64791 32.2422 7.64932C33.01 7.65759 33.7565 7.68287 34.5255 7.7307C34.9673 7.72974 35.388 7.72942 35.7903 7.73757C36.3517 7.74872 36.828 7.77015 37.248 7.82259C38.228 7.94113 39.3167 8.24063 40.1094 8.50454C40.2404 8.54759 40.3631 8.5891 40.4758 8.62769C41.108 8.78824 41.7646 8.98245 42.3844 9.19348C42.4206 9.22104 42.4576 9.24961 42.4961 9.27928C42.9717 9.65052 43.6086 9.90299 44.5872 10.3981C45.0127 10.6153 45.5001 10.8805 46.0495 11.235C46.4054 11.4656 46.5447 11.6426 46.6579 11.7856C46.6912 11.8279 46.7215 11.867 46.7551 11.9051C46.8711 12.0361 47.0424 12.1004 47.2439 12.1799C47.5049 12.2833 47.8159 12.4104 48.1089 12.7452C49.0147 13.8023 49.5267 14.1207 49.9444 14.3648C50.0644 14.4366 50.1724 14.5028 50.2709 14.582C50.5949 14.8417 50.9322 15.3206 51.1432 15.7144C51.3134 16.0251 51.78 16.535 52.1437 16.9275C52.2807 17.0735 52.4328 17.2994 52.6034 17.5689C52.7794 17.8466 52.976 18.1723 53.2053 18.5124C53.7805 19.3721 54.0416 19.861 54.2543 20.2516C54.3141 20.3629 54.3685 20.4668 54.4222 20.5705C54.5961 20.907 54.7847 21.3184 54.9665 21.7576C55.1814 22.273 55.3795 22.8144 55.5323 23.2171C55.7968 24.3118 55.972 25.4274 56.0565 26.552C56.1011 27.1376 55.9916 27.7078 55.7623 28.1159C55.5333 28.5395 55.2107 28.7476 54.881 28.7477C54.5501 28.7463 54.2345 28.5449 53.9764 28.1846C53.7189 27.8357 53.5379 27.3693 53.4504 26.8655C53.2767 25.8631 53.0187 24.8728 52.6988 23.9069C52.3093 22.7323 51.8273 21.5926 51.2731 20.4954C50.885 19.727 50.4529 18.9837 49.9758 18.2712C49.9267 18.1979 49.8771 18.1247 49.8268 18.0517C49.3417 17.5117 48.8307 17.0115 48.4755 16.6565C48.1816 16.3619 48.007 16.1209 47.848 15.9095C47.7381 15.7639 47.642 15.6398 47.5234 15.5331C47.4599 15.4759 47.3708 15.3998 47.2616 15.3091C46.8161 14.935 46.0431 14.3529 45.3392 13.7851C45.0365 13.5368 44.668 13.2225 44.3225 12.9471C43.817 12.5446 43.3176 12.1989 43.0296 12.0929C42.5188 11.9027 41.986 11.633 41.4827 11.4057C41.0185 11.1938 40.5817 11.0198 40.3211 10.996C40.0108 10.968 39.7691 10.868 39.3954 10.726C39.1287 10.6263 38.8303 10.5147 38.3823 10.4009C37.8605 10.2695 37.5136 10.1593 37.2041 10.0653C36.7695 9.93466 36.432 9.84145 35.9283 9.85396C35.3604 9.86714 34.769 9.86603 34.3163 9.80667C34.1079 9.77924 33.8656 9.76678 33.6104 9.75692C33.2743 9.74391 32.9387 9.73633 32.6175 9.69896C32.3545 9.66821 32.1342 9.60206 31.9368 9.54474C31.9032 9.535 31.8703 9.52555 31.838 9.51657C31.811 9.50908 31.7846 9.50193 31.7585 9.49522C31.5433 9.4965 31.3301 9.50006 31.1187 9.50615C31.0846 9.51715 31.049 9.52934 31.0118 9.54199C30.8254 9.6055 30.5987 9.68465 30.3214 9.73275C29.8747 9.80938 29.471 9.79907 29.0587 9.79436C28.7406 9.7906 28.3957 9.79212 28.0111 9.84762C27.7494 9.88538 27.4575 9.94929 27.1737 10.0166C26.7364 10.1185 26.316 10.2297 26.02 10.2609C25.9086 10.2726 25.8085 10.251 25.7067 10.2304C25.7062 10.2302 25.7057 10.2301 25.7053 10.2299C25.6982 10.2285 25.6911 10.2272 25.6841 10.2259C24.9567 10.4026 24.2659 10.6052 23.5701 10.8438C23.5126 10.8712 23.4547 10.8989 23.3976 10.9264C23.123 11.0593 22.8436 11.1996 22.6823 11.3254C22.5034 11.4624 22.0299 11.6704 21.5271 11.9201C21.2012 12.0817 20.8782 12.2538 20.6142 12.4188C20.462 12.5142 20.293 12.5477 20.1195 12.5842C19.9576 12.6183 19.793 12.6543 19.6329 12.748C19.5535 12.7946 19.4738 12.8556 19.3898 12.9211C19.3159 12.9788 19.2385 13.04 19.1549 13.0981C19.0761 13.1526 18.887 13.2312 18.6347 13.346C18.4805 13.4159 18.3069 13.4971 18.1296 13.5883C17.7005 13.8867 17.2723 14.2077 16.866 14.5368C16.7988 14.6318 16.7512 14.7268 16.7283 14.8204C16.7119 14.8876 16.7075 14.9566 16.7032 15.0271C16.6974 15.123 16.6921 15.2218 16.6594 15.3237C16.6338 15.4033 16.582 15.4686 16.5274 15.4879C16.5019 15.4968 16.476 15.4959 16.4522 15.4955C16.425 15.495 16.4007 15.4946 16.3834 15.5093C16.371 15.5199 16.3658 15.5403 16.3593 15.5653C16.3489 15.605 16.3355 15.6565 16.286 15.6993C16.1013 15.859 15.8885 16.0304 15.6822 16.2045C15.4502 16.4002 15.2305 16.5958 15.0719 16.766C14.8931 16.957 14.5959 17.1955 14.3109 17.4401C14.1097 17.6128 13.9105 17.7924 13.7552 17.9562C13.6035 18.1158 13.475 18.3138 13.3561 18.5051C13.2127 18.7355 13.0841 18.9546 12.92 19.1106C12.887 19.1418 12.8139 19.1571 12.7222 19.1772C12.6573 19.1914 12.5828 19.2083 12.507 19.2344C12.3451 19.4642 12.1838 19.6998 12.0268 19.9362C12.0271 19.9483 12.0274 19.9607 12.0278 19.9732C12.0278 19.9734 12.0279 19.9736 12.0279 19.9738C12.0368 20.2559 12.0561 20.6344 11.7227 20.9505C11.638 21.0309 11.5502 21.0621 11.4709 21.0906C11.3935 21.118 11.3227 21.1455 11.2736 21.2137C11.2177 21.2915 11.1936 21.4058 11.1689 21.5296C11.1336 21.7045 11.1005 21.8925 10.9669 22.0427C10.9579 22.0528 10.9481 22.0637 10.938 22.075C10.8427 22.1829 10.7037 22.3427 10.5171 22.4801C10.2334 23.0214 9.9676 23.5741 9.72453 24.1306C9.3172 25.0647 8.96518 26.0291 8.69297 27.016C8.5593 27.4987 8.33851 27.9413 8.05487 28.2616C7.76954 28.5931 7.44382 28.7637 7.12015 28.7381C6.79785 28.711 6.49908 28.4819 6.30517 28.0498C6.1098 27.6327 6.04126 27.0665 6.1193 26.4995C6.2443 25.5856 6.42761 24.6807 6.66755 23.7855C6.67616 23.7381 6.68523 23.6903 6.6948 23.6428C6.76603 23.2896 6.7962 22.939 6.83038 22.5957C6.83851 22.5161 6.84716 22.4361 6.85695 22.3558Z" fill="#FD1E1F"/>
        <path class="line" d="M1.41351 20.7787C1.51396 20.0159 2.11049 18.7148 2.47869 18.0141C2.48528 18.0011 2.49189 17.9882 2.49851 17.9752C2.58542 17.8065 2.66197 17.6488 2.75352 17.4641C2.97568 17.0245 3.26693 16.4192 4.04952 15.2592C4.2485 14.9095 4.45844 14.5595 4.67602 14.2158C7.00868 10.5144 10.2777 7.36082 14.0678 5.18286C14.1145 5.15266 14.1622 5.12205 14.2105 5.09123C15.1241 4.50118 16.3185 3.8489 17.124 3.53906C18.1215 3.15222 18.846 2.94126 19.4158 2.78835C22.6831 1.69946 26.0494 1.18093 29.4172 1.01797C30.3039 0.975367 31.142 0.957912 32.037 0.959731C32.2234 0.960197 32.4088 0.961607 32.5931 0.963942C33.5687 0.976434 34.5298 1.01589 35.5036 1.08849C36.0603 1.10135 36.6102 1.12003 37.1147 1.14712C37.8191 1.18446 38.4427 1.23821 38.9661 1.31822C40.1999 1.50193 41.5753 1.90264 42.5891 2.264C42.7532 2.32186 42.9066 2.37768 43.0477 2.42973C43.8491 2.6688 44.6557 2.94649 45.4444 3.25971C45.4918 3.29408 45.5391 3.32924 45.587 3.36518C46.1774 3.81437 46.9843 4.17693 48.1904 4.8677C48.7206 5.17409 49.3126 5.53857 49.9892 6.02618C50.4195 6.33798 50.5963 6.55915 50.7418 6.73927C50.7843 6.79226 50.8238 6.84198 50.8654 6.88989C51.0081 7.05411 51.2114 7.15677 51.4498 7.28237C51.7574 7.44434 52.1385 7.6558 52.4898 8.07951C53.6037 9.44168 54.1974 9.91708 54.6769 10.2726C54.8154 10.3783 54.942 10.4778 55.0574 10.589C55.4335 10.9494 55.8366 11.5695 56.0912 12.068C56.2935 12.4568 56.8384 13.1511 57.25 13.6772C57.4081 13.8778 57.5839 14.1717 57.7801 14.5196C57.9832 14.8797 58.2134 15.3081 58.4713 15.7491C59.1263 16.8794 59.4195 17.5118 59.6572 18.0123C59.7239 18.1549 59.7866 18.2931 59.8475 18.4283C60.0405 18.8564 60.2562 19.394 60.4579 19.9487C60.6984 20.6062 60.9182 21.2893 61.0889 21.8116C61.3933 23.1917 61.5965 24.5907 61.698 26.0025C61.7507 26.7316 61.6461 27.4432 61.4185 27.9546C61.1914 28.4828 60.8683 28.7475 60.5388 28.748C60.2077 28.7464 59.8927 28.4876 59.6324 28.0159C59.3728 27.5576 59.1857 26.9394 59.0881 26.2834C58.8932 24.9669 58.5992 23.6658 58.2295 22.3915C57.7772 20.8345 57.2136 19.3237 56.5531 17.8581C56.0897 16.8307 55.5742 15.8383 54.9949 14.8732C54.9359 14.7749 54.8763 14.6767 54.8158 14.5788C54.2418 13.8258 53.6279 13.1174 53.2005 12.6253C52.8467 12.2164 52.621 11.8894 52.4255 11.6134C52.2901 11.4229 52.1667 11.2551 52.0201 11.1047C51.9406 11.0231 51.8333 10.9177 51.7002 10.7906C51.1589 10.2669 50.1933 9.42763 49.3169 8.66466C48.9204 8.31669 48.4828 7.91967 48.026 7.54311C47.3939 7.01581 46.7433 6.55065 46.3909 6.39386C45.7589 6.10816 45.0713 5.73398 44.4333 5.42474C43.8283 5.13001 43.2954 4.90228 42.9559 4.84059C42.5497 4.76741 42.2537 4.63984 41.7765 4.45294C41.4449 4.32407 41.0386 4.17143 40.4761 4.01617C39.8195 3.83621 39.352 3.69257 38.9632 3.57607C38.4137 3.41331 37.9628 3.29407 37.3263 3.27959C36.6072 3.2619 35.8353 3.23459 35.2593 3.16108C34.9921 3.12682 34.6819 3.10741 34.3548 3.09164C33.9138 3.07027 33.4903 3.0576 33.0764 3.01675C32.7389 2.98324 32.456 2.91596 32.2028 2.85816C32.1461 2.84524 32.0909 2.83285 32.037 2.82143C32.0157 2.81693 31.9947 2.81259 31.9739 2.80842C31.6974 2.80964 31.4233 2.81395 31.1518 2.8216C31.108 2.83286 31.0621 2.84533 31.0143 2.8583C30.7745 2.92345 30.4829 3.00516 30.1263 3.05807C29.5493 3.14268 29.0331 3.14281 28.5043 3.15194C28.0987 3.15869 27.6493 3.17457 27.1588 3.24845C26.8219 3.29912 26.4547 3.37774 26.0806 3.46416C25.5183 3.59309 24.9816 3.73497 24.6039 3.78938C24.4641 3.80929 24.3299 3.79703 24.1992 3.78492C24.1986 3.7848 24.198 3.78468 24.1974 3.78456C24.1885 3.78375 24.1796 3.783 24.1707 3.78221C23.248 4.01883 22.3486 4.29753 21.4692 4.61936C21.3957 4.654 21.3218 4.68901 21.2488 4.72387C20.8837 4.89685 20.5341 5.0739 20.3249 5.22475C20.1 5.38665 19.4768 5.6723 18.8453 6.00456C18.4371 6.21837 18.0074 6.45885 17.678 6.67257C17.4847 6.79765 17.2754 6.86074 17.0594 6.92906C16.8543 6.99475 16.6445 7.0646 16.4453 7.19093C16.3455 7.25421 16.2445 7.33316 16.1379 7.418C16.0441 7.4927 15.9459 7.5721 15.8403 7.64946C15.7407 7.72224 15.4938 7.84847 15.1851 8.01694C14.9942 8.12113 14.78 8.24132 14.5599 8.37499C14.0068 8.79309 13.4866 9.22029 12.9704 9.67679C12.8838 9.79559 12.8202 9.91101 12.7858 10.0199C12.7611 10.0981 12.7503 10.1759 12.7395 10.2555C12.7249 10.3638 12.7102 10.4757 12.6612 10.5985C12.6232 10.6942 12.5553 10.7799 12.4887 10.8142C12.4576 10.8301 12.427 10.8349 12.3993 10.8394C12.3675 10.8445 12.3392 10.8492 12.3178 10.8693C12.3024 10.8839 12.2946 10.908 12.2849 10.9374C12.2695 10.9844 12.2494 11.0453 12.188 11.1042C11.9601 11.3226 11.6937 11.5671 11.4373 11.8133C11.1524 12.0867 10.8848 12.3571 10.6832 12.5938C10.4577 12.8578 10.1062 13.1897 9.75485 13.5473C9.51111 13.7946 9.27513 14.0443 9.08505 14.2736C8.89789 14.4994 8.73915 14.7597 8.59113 15.0124C8.41495 15.3132 8.24575 15.6152 8.05517 15.8321C8.01642 15.8762 7.935 15.9092 7.83309 15.9515C7.76087 15.9814 7.67807 16.0164 7.59329 16.0626C7.39474 16.3762 7.19991 16.6939 7.01206 17.0101C7.01145 17.0248 7.01074 17.0398 7.01017 17.0549C7.01021 17.0552 7.01024 17.0555 7.01028 17.0557C6.9969 17.3985 6.98274 17.8659 6.60249 18.3139C6.50497 18.4297 6.40763 18.4861 6.32036 18.5365C6.23464 18.5861 6.15797 18.6309 6.10064 18.7237C6.03559 18.8292 6.00165 18.9744 5.9665 19.1319C5.91814 19.3507 5.86277 19.6044 5.71328 19.8091C5.70304 19.8231 5.69196 19.8382 5.68059 19.854C5.57224 20.0046 5.41687 20.2216 5.20937 20.4285C4.87413 21.1531 4.56413 21.8843 4.27842 22.6302C3.80328 23.8714 3.39787 25.1445 3.08721 26.4411C2.93531 27.0716 2.69984 27.6636 2.40773 28.0926C2.11385 28.5342 1.78533 28.7628 1.46141 28.7392C1.13904 28.7138 0.842808 28.4311 0.656037 27.898C0.467808 27.3808 0.41143 26.6764 0.504905 25.9698C0.65603 24.8227 0.874843 23.6804 1.15714 22.5523C1.16868 22.4903 1.17925 22.4328 1.19108 22.3732C1.27729 21.9353 1.32545 21.4959 1.37584 21.0732C1.38762 20.9755 1.39996 20.8773 1.41351 20.7787Z" fill="#FD1E1F"/>
      </svg>
    
    </div>
    <h2 class="hero__title">Hola, soy Andrea</h2>
	</div>
  <section class="hero__info">
    <slot />
    <div class="hero__line"></div>
    <a 
    href="https://mail.google.com/mail/?view=cm&fs=1&to=andreamonteroherl@gmail.com" 
    target="_blank" 
    class="hero__button">
      Hablemos
    </a>
  </section>
</div>


<style lang="scss">
.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    height: auto;
    margin-top: 3rem;
  }


  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-family: $font-poppins;
    font-size: $font-size-md;
    font-weight: 300;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
  }

  &__subtitle {
    font-size: $font-size-2xl;
    font-weight: 400;
    margin-bottom: 1.5rem;
  }

  &__text {
    font-size: $font-size-base;
    font-family: $font-poppins;
    font-weight: 300;
    line-height: 1.5rem;
    width: 70%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    text-align: center;
  }

  &__button {
    padding: 0.5rem 1rem;
    border-radius: 500px;
    border: none;
    background-color: $color-black;
    color: $color-white;
    font-family: $font-poppins;
    font-size: $font-size-md;
    margin-top: 1rem;
    text-decoration: none;
  }

  &__line {
    width: 70%;
    height: 1px;
    border-bottom: 1px dashed $color-red;
    margin: 1rem 0 1.5rem 0;
  }
}

.rainbow {
  svg {
    width: clamp(2rem, 10vw, 4rem);
    height: auto;
  }

  .line {
    // stroke: #FD1E1F;
    stroke-width: 0;
    // stroke-dasharray: 1000; // valor alto para que todo el path se pueda animar
    // stroke-dashoffset: 1000; // lo escondemos
    transition: stroke-dashoffset 0.5s ease; 
  }

  // &:hover .line:nth-child(1) {
  //   stroke-dashoffset: 0;
  //   transition-delay: 0s;
  // }
  // &:hover .line:nth-child(2) {
  //   stroke-dashoffset: 0;
  //   transition-delay: 0.3s;
  // }
  // &:hover .line:nth-child(3) {
  //   stroke-dashoffset: 0;
  //   transition-delay: 0.6s;
  // }
}


</style>

