---
import box from '@/assets/box.svg';
import arrow from '@/assets/arrow.svg';
import boxClose from '@/assets/box-close.svg';

---
<section class="tools">
  <img class="tools__image" src={box.src} alt="box" />
  <h2 class="tools__title">Mi caja de herramientas</h2>
  <p class="tools__text">Aquí guardo todo lo que necesito para que mis diseños funcionen, abre cada caja de herramientas y descubre como se hace la magia.</p>
  
  <img class="tools__arrow" src={arrow.src} alt="arrow" />
  <img class="tools__image" src={boxClose.src} alt="box close" />

  <!-- <img class="tools__image" src={boxOpen.src} alt="box open" /> -->

</section>
<style lang="scss" scoped>
  .tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
  }
</style>