---
import Header from '@/components/molecules/Header.astro';
import Footer from '@/components/molecules/Footer.astro';
import Hero from '@/components/molecules/Hero.astro';

import flowerLeft from '@/assets/flower-left.svg';
import flowerRight from '@/assets/flower-right.svg';
import favicon from '@/assets/flower-blue.svg';
import { ClientRouter } from 'astro:transitions';

import '../styles/global.scss';
import ArrowButton from '@/components/atoms/ArrowButton.astro';
import CookieBanner from '@/components/atoms/CookieBanner.vue';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={favicon.src} />
		<meta name="generator" content={Astro.generator} />
    {import.meta.env.PUBLIC_ENV === 'prod' && localStorage.getItem('cookieConsent') === 'true' && (
      <script type="text/javascript">
        (function(c,l,a,r,i,t,y){
            c[a]=c[a]||function(){ (c[a].q=c[a].q||[]).push(arguments) };
            t=l.createElement(r); t.async=1; t.src="https://www.clarity.ms/tag/TU_ID";
            y=l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t,y);
        })(window, document, "clarity", "script");
      </script>
    )}
		<ClientRouter />
		<title>Andrea</title>
	</head>
	<body>
		<Header/>
		<div class="container">
			<img class="container__flower container__flower--left" src={flowerLeft.src} alt="Flor izquierda" />
			<img class="container__flower container__flower--right" src={flowerRight.src} alt="Flor derecha" />
			<Hero>
					<h3 class="hero__subtitle">
						Diseñadora UX UI <br />
						y de productos digitales
					</h3>		
					<p class="hero__text">
						La simplicidad es mi superpoder. Convierto ideas complejas en experiencias 
						que los usuarios disfrutan, haciendo que cada interacción se sienta natural y sencilla</p>
				</Hero> 
			<slot />
		</div>
		<Footer/>
		<ArrowButton id="scroll-top-btn" />
    <CookieBanner client:load />

	</body>

</html>

<style lang="scss" scoped>
	.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
	overflow-x: hidden; /* recorta hijos absolutos que sobresalgan */


  &__flower {
    position: absolute;
    top: 6%;
    transform: translateY(-50%);
		width: clamp(8rem, 30vw, 22rem);
		height: auto;

		@media (max-width: 768px) {
    width: clamp(4rem, 20vw, 10rem); /* reducir tamaño */
		}

		@media (max-width: 480px) {
			top: 4.5%;
			width: clamp(3rem, 15vw, 6rem);
		}

    &--left {
      left: 0; 
    }

    &--right {
      right: 0;
    }
  }
}

.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__subtitle {
		font-size: clamp($font-size-lg, 4vw, $font-size-2xl); // escala entre móviles y desktop
    font-weight: 400;
    margin-bottom: 2rem;
  }

  &__text {
		font-size: clamp($font-size-xs, 4vw, $font-size-md); // escala entre móviles y desktop
    // font-size: $font-size-base;
    font-family: $font-poppins;
    font-weight: 200;
    line-height: 2rem;
  	width: 90%;
  }

	@media (max-width: 480px) {
    &__text {
    line-height: 1.5rem;
  	width:70%;
  }
  }
}

</style>
