---
import Header from '@/components/molecules/Header.astro';

import flowerLeft from '@/assets/flower-left.svg';
import flowerRight from '@/assets/flower-right.svg';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<Header/>
		<div class="hero">
			<img class="hero__flower hero__flower--left" src={flowerLeft.src} alt="Flor izquierda" />
			<img class="hero__flower hero__flower--right" src={flowerRight.src} alt="Flor derecha" />
		
			<slot />
		</div>
	</body>
</html>

<style lang="scss" scoped>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}

	.hero {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__flower {
    position: absolute;
    top: 8%;
    transform: translateY(-50%);
    width: 22rem; 

    &--left {
      left: 0; 
    }

    &--right {
      right: 0;
    }
  }
}

</style>
