---
import Header from '@/components/molecules/Header.astro';
import Footer from '@/components/molecules/Footer.astro';
import Hero from '@/components/molecules/Hero.astro';

import flowerLeft from '@/assets/flower-left.svg';
import flowerRight from '@/assets/flower-right.svg';

import '../styles/global.scss';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Andrea</title>
	</head>
	<body>
		<Header/>
		<div class="container">
			<img class="container__flower container__flower--left" src={flowerLeft.src} alt="Flor izquierda" />
			<img class="container__flower container__flower--right" src={flowerRight.src} alt="Flor derecha" />
			<Hero>
				<h3 class="hero__subtitle">
					Proyecto
				</h3>
				<div>
					<p class="hero__text">¿Qué diseño?</p>
					<p class="hero__text">¿Cómo diseño?</p>
					<p class="hero__text">¿Por qué diseño?</p>

				</div>		
			</Hero>
			<slot />
		</div>
		<Footer/>

	</body>

</html>

<style lang="scss" scoped>
	.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
	overflow-x: hidden; /* recorta hijos absolutos que sobresalgan */


  &__flower {
    position: absolute;
    top: 8%;
    transform: translateY(-50%);
		width: clamp(8rem, 30vw, 22rem);
		height: auto;

		@media (max-width: 768px) {
    width: clamp(4rem, 20vw, 10rem); /* reducir tamaño */
		}

		@media (max-width: 480px) {
     /* evitar que sobresalgan */
			width: clamp(3rem, 15vw, 6rem);
		}

    &--left {
      left: 0; 
    }

    &--right {
      right: 0;
    }
  }
}

.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__subtitle {
    
    font-size: $font-size-2xl;
    font-weight: 400;
    margin-bottom: 1.5rem;
  }

  &__text {
    font-size: $font-size-base;
    font-family: $font-poppins;
    font-weight: 400;
    line-height: 1.5rem;
    // width: 70%;


  }
}

</style>
