---
import Header from '@/components/molecules/Header.astro';
import Footer from '@/components/molecules/Footer.astro';
import Hero from '@/components/molecules/Hero.astro';

import flowerLeft from '@/assets/flower-left.svg';
import flowerRight from '@/assets/flower-right.svg';


import Arrow from '@/assets/arrow-right.svg';

import '../styles/global.scss';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Andrea</title>
	</head>
	<body>
		<Header/>
		<div class="container container--project">
			<img class="container__flower container__flower--left" src={flowerLeft.src} alt="Flor izquierda" />
			<img class="container__flower container__flower--right" src={flowerRight.src} alt="Flor derecha" />
			<Hero>
				<h3 class="hero__subtitle">
					Proyecto
				</h3>
				<div class="hero__grid">
					<p class="hero__text">¿Qué diseño?</p>
					<Arrow class="hero__arrow"  width={62}/>
					<p class="hero__text">Experiencias digitales para personas</p>

					<p class="hero__text">¿Cómo diseño?</p>
					<Arrow class="hero__arrow"  width={62}/>
					<p class="hero__text">Aplicando la empatía</p>

					<p class="hero__text">¿Por qué diseño?</p>
					<Arrow class="hero__arrow" width={62}/>
					<p class="hero__text">Para un futuro más humano</p>

				</div>		
			</Hero>
			<slot />
		</div>
		<Footer/>

	</body>

</html>

<style lang="scss" scoped>
	.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
	overflow-x: hidden; 

	&--project {

		& .container__flower {
    position: absolute;
    top: 15%;
    transform: translateY(-50%);
		width: clamp(8rem, 30vw, 22rem);
		height: auto;

		@media (max-width: 768px) {
    width: clamp(4rem, 20vw, 10rem);
		}

		@media (max-width: 480px) {
     /* evitar que sobresalgan */
			width: clamp(3rem, 15vw, 6rem);
		}

    &--left {
      left: 0; 
    }

    &--right {
      right: 0;
    }
  }
	}

 
}

.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__subtitle {
    font-size: $font-size-2xl;
    font-weight: 400;
    margin-bottom: 2.5rem;
  }

  &__text {
    font-size: $font-size-base;
    font-family: $font-poppins;
    font-weight: 400;
    line-height: 1.5rem;
    // width: 70%;
  }

	&__grid {
		display: grid;
		grid-template-columns: 0.5fr 0fr 1fr; /* 3 columnas de igual tamaño */
		grid-template-rows: 1fr 1fr 1fr;  
		margin-bottom: 4rem;
    align-items: center;
		text-align: left;

	}

	&__arrow {
		margin-right: 1rem;
	}
}

</style>
